
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    background: url('../images/highland.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container .btn:hover{
background-color: #ff0000;
}
.card img{
    height: 400px;
    object-fit: cover;
}
#btn-button-dn{
    color: #f8f9fa;
}
